body{
    background-color: #1b1b1b;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.container{
    width: 90%;
    margin: auto;
    overflow: hidden;
}
.on{
    float: left;
    width: 50%;
}
.on:hover{
    color: white;
}
.off{
    float: right;
    width: 50%;
}
.off:hover{
    color: black;
}
.title{
    padding-bottom: 10px;
}
.first{
    float: left;
    width: 33%;
}
.first:hover{
    color: white;
}
.middle{
    float: left;
    width: 33%;
}
.middle:hover{
    color: yellow;
}
.last{
    float: right;
    width: 33%;
}
.last:hover{
    color: black;
}
p{
    margin: 0;
    padding: 0;
}
#main-header{
    background-color: #ff6600;
}
table{
    margin-top: 30px;
    color: #ff6600;
    width: 100%;
    text-align: center;
    table-layout: fixed;
    font-weight: 900;
    border-spacing: 10px 10px;
}
table.center {
    margin-left:auto; 
    margin-right:auto;
}
td{
    background-color: rgb(82, 82, 82);
    border: 3px solid #ff6600;
    border-radius: 10%;
    padding: 15px 0px; 
}
.alarmtext{
    padding-top: 30px;
}
#submit{
    background-color: #1b1b1b;
    border: 0px;
    border-radius: 10%;
    color: #ff6600;
    font-weight: 900;
}
#time{
    background-color: rgb(82, 82, 82);
    border-color: #1b1b1b;
}

